body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0; /* Remove margem para evitar rolagem horizontal em dispositivos móveis */
}

h1 {
    text-align: center;
    color: #0044cc;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
    justify-content: space-between;
    gap: 20px;
}

form, #informacoes {
    flex: 1 1 100%; /* Ocupa 100% da largura disponível em telas menores */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #003399;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.voltar {
    width: 100%;
    max-width: 150px; /* Limita o tamanho máximo do botão */
    margin: 20px auto;
    display: block;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Alinha os itens verticalmente em telas menores */
        gap: 10px; /* Reduz o espaço entre os itens */
    }

    form, #informacoes {
        padding: 10px; /* Reduz o padding */
    }

    input, select {
        font-size: 0.9em; /* Ajusta o tamanho da fonte */
    }

    #resultado {
        font-size: 1em; /* Reduz o tamanho da fonte para resultados */
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; /* Reduz o padding do body para telas muito pequenas */
    }

    form, #informacoes {
        padding: 20px; /* Ajusta o padding para telas menores */
    }

    input, select {
        font-size: 0.8em; /* Reduz ainda mais o tamanho da fonte */
        padding: 6px; /* Ajusta o padding dos inputs */
    }

    button {
        font-size: 0.9em; /* Reduz o tamanho da fonte do botão */
    }

    #resultado {
        font-size: 0.9em; /* Ajusta o tamanho da fonte do resultado */
    }
}
