body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0044cc;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #003399;
}

#informacoes {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.voltar {
    width: 150px; /* Defina um tamanho fixo para o botão, se necessário */
    margin: 20px auto; /* Margem superior e inferior, e auto para centralizar horizontalmente */
    display: block; /* Faz com que o botão ocupe a largura definida e seja tratado como bloco */
}
