/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #F7E300; /* Amarelo do Banco do Brasil */
    color: black; /* Ajusta a cor do texto para um contraste adequado */
    padding: 15px 20px;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar a logo de forma absoluta */
}

header .logo {
    max-width: 76px; /* Ajusta o tamanho máximo da logo */
    height: auto; /* Mantém a proporção da imagem */
    position: absolute; /* Posiciona a logo no canto superior esquerdo */
    top: 10px; /* Ajusta o espaço do topo */
    left: 20px; /* Ajusta o espaço da esquerda */
}

header h1 {
    flex: 1; /* Expande o título para ocupar o espaço restante */
    text-align: center; /* Centraliza o texto do título */
    margin: 0; /* Remove margens padrão */
}

header nav {
    flex: 2; /* Expande a navegação para ocupar o espaço restante */
    text-align: center; /* Centraliza o texto da navegação */
}

header nav ul {
    list-style-type: none; /* Remove os marcadores dos itens */
    margin: 0;
    padding: 0;
    display: inline-flex; /* Exibe os itens de navegação em linha horizontal */
}

header nav ul li {
    margin-right: 15px; /* Adiciona espaço horizontal entre os itens */
}

header nav ul li a {
    color: black; /* Ajusta a cor dos links para preto, para contrastar com o fundo amarelo */
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #000000; /* Cor do link ao passar o mouse */
}

/* Seções */
section {
    padding: 20px;
}

#apresentacao {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-bottom: 5px solid #0044cc;
}

#apresentacao img {
    max-width: 400px; /* Aumenta o tamanho da logo */
    border-radius: 10px; /* Menos arredondada, ajustada para um leve arredondamento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#apresentacao h1 {
    font-size: 2.9em; /* Aumenta o tamanho do texto dos subtítulos na seção de apresentação */
}

#apresentacao h3 { 
    font-size: 1.7em; /* Aumenta o tamanho do texto dos subtítulos na seção de apresentação */
}

#apresentacao p { 
    font-size: 1.5em; /* Aumenta o tamanho do texto dos subtítulos na seção de apresentação */
}


#servicos {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

#servicos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#servicos ul li {
    background-color: #f4f4f4;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Espaçamento entre os itens */
    font-size: 1.1em;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#servicos ul li:hover {
    background-color: #e1e1e1;
    transform: scale(1.03);
}

.cta-button {
    background-color: #0044cc;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
    background-color: #003399;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#contato {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-top: 5px solid #0044cc;
}

#contato form {
    display: inline-block;
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
    padding: 45px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contato label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #0044cc;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s, transform 0.3s;
}

#contato button:hover {
    background-color: #003399;
    transform: scale(1.05);
}

.contato-info {
    margin-top: 30px;
}

.contato-info p {
    margin: 5px 0;
}

.contato-info a {
    color: #0044cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contato-info a:hover {
    color: #003399;
}

#whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#whatsapp-button:hover {
    background-color: #1EBB53;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px;
    flex-direction: column; /* Alinha os botões verticalmente em telas menores */
}

.button-container button {
    flex: 1;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color: #0044cc; /* Cor do botão de e-mail */
}

button#whatsapp-button {
    background-color: #25D366; /* Cor do botão de WhatsApp */
}

button[type="submit"]:hover {
    background-color: #003399;
}

button#whatsapp-button:hover {
    background-color: #1EBB53;
}

.cta-link {
    background-color: #0044cc; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 12px 25px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Texto em negrito */
    border-radius: 5px; /* Bordas arredondadas */
    display: inline-block; /* Faz com que o link se comporte como um botão */
    margin-top: 20px; /* Espaçamento superior */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efeitos de transição */
}

.cta-link:hover {
    background-color: #003399; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        padding: 10px 20px; /* Ajusta o padding para telas menores */
        position: relative; /* Permite a logo se posicionar no canto esquerdo */
    }

    header .logo {
        position: absolute; /* Posiciona a logo no canto esquerdo */
        top: 6px;
        left: 20px;
        padding: 0px 1px 0px 1px; /* Ajusta o padding da logo */
        max-width: 50px; /* Ajusta o tamanho máximo da logo para telas menores */
    }

    header h1 {
        margin: 20px 0; /* Ajusta a margem do título */
        font-size: 1.5em; /* Ajusta o tamanho da fonte do título para telas menores */
    }

    header nav {
        width: 100%; /* Faz com que a navegação ocupe toda a largura disponível */
        text-align: center; /* Centraliza o texto da navegação */
    }

    header nav ul {
        list-style-type: none; /* Remove os pontos da lista */
        margin: 0;
        padding: 0;
        display: flex; /* Exibe os itens da navegação em uma linha */
        flex-direction: row; /* Alinha os itens horizontalmente */
        justify-content: end; /* Centraliza os itens na linha */
    }

    header nav ul li {
        margin: 0 0px; /* Adiciona espaço horizontal entre os itens */
    }

    header nav ul li a {
        font-size: 1em; /* Ajusta o tamanho da fonte */
        display: inline-block; /* Faz com que o link se comporte como um bloco */
        padding: 10px 15px; /* Adiciona espaçamento interno para tornar o link mais clicável */
        color: rgb(0, 0, 0); /* Cor do texto dos links */
        text-decoration: none; /* Remove sublinhado dos links */
        font-weight: bold; /* Texto em negrito */
    }

    header nav ul li a:hover {
        color: #e0e0e0; /* Cor do texto ao passar o mouse */
    }
}


    #apresentacao {
        padding: 30px 20px; /* Ajusta o padding para telas menores */
    }

    #apresentacao img {
        max-width: 170px; /* Ajusta o tamanho máximo da imagem para telas menores */
    }

    #contato form {
        padding: 45px;
    }

    #contato input,
    #contato textarea {
        font-size: 0.9em;
    }

    footer {
        position: static; /* Remove a posição fixa para telas menores */
        padding: 20px;
    }

    .button-container {
        flex-direction: column; /* Alinha os botões verticalmente */
    }

    #servicos ul li {
        font-size: 1em; /* Ajusta o tamanho da fonte */
        padding: 10px; /* Ajusta o padding */
    }

    #contato input,
    #contato textarea {
        font-size: 0.8em; /* Ajusta o tamanho da fonte */
    }

@media (max-width: 480px) {
    /* Ajustes adicionais para telas muito pequenas */
    #apresentacao img {
        max-width: 250px; /* Ajusta ainda mais o tamanho da imagem */
    }

    #contato input,
    #contato textarea {
        font-size: 0.8em;
    }

    .cta-link {
        padding: 10px 20px; /* Ajusta o padding do link CTA */
    }
}