/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #F7E300; /* Amarelo do Banco do Brasil */
    color: black;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar a logo de forma absoluta */
}

header .logo {
    max-width: 76px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
}

header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

header nav {
    flex: 2;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    color: black;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #000000;
}

/* Seções */
section {
    padding: 20px;
}

#apresentacao {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-bottom: 5px solid #0044cc;
}

#apresentacao img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#apresentacao h1 {
    font-size: 2.9em;
}

#apresentacao h3 { 
    font-size: 1.7em;
}

#apresentacao p { 
    font-size: 1.5em;
}

#servicos {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

#servicos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#servicos ul li {
    background-color: #f4f4f4;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#servicos ul li:hover {
    background-color: #e1e1e1;
    transform: scale(1.03);
}

.cta-button {
    background-color: #0044cc;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
    background-color: #003399;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#contato {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-top: 5px solid #0044cc;
}

#contato form {
    display: inline-block;
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
    padding: 45px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contato label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #0044cc;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s, transform 0.3s;
}

#contato button:hover {
    background-color: #003399;
    transform: scale(1.05);
}

.contato-info {
    margin-top: 10px;
}

.contato-info p {
    margin: 6px 0;
}

.contato-info a {
    color: #0044cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contato-info a:hover {
    color: #003399;
}

#whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#whatsapp-button:hover {
    background-color: #1EBB53;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

.button-container button {
    flex: 1;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color: #0044cc;
}

button#whatsapp-button {
    background-color: #25D366;
}

button[type="submit"]:hover {
    background-color: #003399;
}

button#whatsapp-button:hover {
    background-color: #1EBB53;
}

.cta-link {
    background-color: #0044cc;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cta-link:hover {
    background-color: #003399;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        position: relative;
    }

    header .logo {
        position: absolute;
        top: 10px;
        left: 20px;
        padding: 0px 1px 0px 1px;
        max-width: 50px;
    }

    header h1 {
        margin: 20px 0;
        font-size: 1.5em;
    }

    header nav {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    header nav ul li {
        margin: 0 0px;
    }

    header nav ul li a {
        font-size: 1em;
        display: inline-block;
        padding: 10px 15px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
    }

    header nav ul li a:hover {
        color: #e0e0e0;
    }

    #apresentacao h1 {
        font-size: 2.4em;
    }

    #apresentacao p {
        font-size: 1.3em;
    }

    .button-container {
        flex-direction: column;
        gap: 20px;
    }

    #servicos ul {
        padding: 0 20px;
    }

    #servicos ul li {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 15px;
    }

    header .logo {
        max-width: 40px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header nav ul li a {
        font-size: 0.9em;
    }

    #apresentacao h1 {
        font-size: 2em;
    }

    #apresentacao p {
        font-size: 1.2em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .button-container button {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
        padding: 10px 15px;
    }
}
